@charset "UTF-8"

html {background-color: green;}

body{
	  width: 700px;
	  height: 1000px;
	  color: green;
	  background-color: white;
	  margin: auto 10px auto 10px;
	}
	
aside{   
		width: 1200px;
		height: 100px;
		padding: 5px 0px 5px 10px;
		margin: 10px 0px 0px 10px;
        left: 635px ;
		top: 2px;
	}
	
.logo {
		width: 250px;
		height: 170px;
		position: relative;
		left: 635px;
		top: 1px;
	  }
	  
.header {
	      width: 1420px;
		  height: 70px;
		  padding: 10px 0px 0px 10px;
		  margin: 49px 10px 8px 53px;
		}
		
.nome{
		text-align:center;
		font-family: Maiandra GD;
		font-size: 1.5em;
		color:black;
	 }

nav{   
	    width: 1420px;
	    height: 55px;
		background-color: orange;
		padding: 5px 0px 10px 10px;
		margin: 10px 10px 6px 10px;
	}
	
ul.menu li {
			color: darkgreen;
			display: inline;
			text-align: center;
			text-transform: uppercase;
			margin: 10px 10px 10px 10px;
			padding: 10px 10px 10px 10px;
			font-size: 1.1em;
		}
		
ul li a{
	  text-decoration: none;
	  color: darkgreen;
	}
	
ul.menu li a:hover{
				 color:darkgreen;
				 background-color: lightgreen;
			   }
			   
h1 {
	 text-transform: uppercase;
	 text-align: center;
	 margin-bottom: 20px;
   }
article{
		width: 1420px;
		height: 1400px;
		text-align: left;
		color: green; 
		background-color: orange;
		padding: 5px 0px 10px 10px;
		margin: 10px 10px 10px 10px;
        top: 500px;
	}
	
.titulo{
		  color:green;
		  text-transform: uppercase;
		  font-size: 2.0em;
		}
		
.africadosul{
				width: 670px;
				height:400px;
				position: relative;
				left: 10px;
			}
			
.egito{ 
		 width: 675px;
		 height:400px;
		 position: relative;
		 left:40px;
	  }

.caixa1{
		  width: 1340px;
		  height: 350px;
		  margin:20px;
		  padding: 10px 0px 0px 30px;
		  color: darkgreen;
		  background-color: lightgreen;
		  left: 200px;
	   }
	   
.caixa2{
		  width: 1360px;
		  height: 350px;
		  margin: 20px;
		  padding: 10px 0px 0px 10px;
		  color: darkgreen;
		  background-color: lightgreen;
		  position: right;
		  top: 100px;
		}
		
p{
	color: darkgreen;
	text-decoration: noun;
 }
 
footer{
		width: 1420px;
		height: 70px;
		text-align: left;
		color: green; 
		background-color: orange;
		padding: 5px 0px 10px 10px;
		margin: 5px 10px 10px 10px;
        top: 1000px;
	}